.search-input {
    background-color: var(--accent);
    border: 1px solid rgba(18, 18, 18, 1);
    width: 35vw;
    display: flex;
    align-items: center;  
    border-radius: 8px;
}

input {
    border: none;
    background-color: var(--accent);
    outline: none;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    color: rgba(18, 18, 18, 1);
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid rgba(18, 18, 18, 1);
}

input::placeholder {
    color: rgba(18, 18, 18, 1);
}

.search-icon {
    background-color: var(--accent);
    margin: 0 20px;
}