.album {
    padding: 0 40px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
      padding-bottom: 16px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

button {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
}