

.section-container {
    padding: 10px 40px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2, button {
    font-size: 20px;
    font-weight: 600;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    padding-top: 10px;
}