@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


*  {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--seconday-color);
  color: var(--accent);
}

body {
  background: var(--seconday-color);
  color: var(--accent);
}

:root {
  --primary-color: #34C94B;
  --seconday-color: #121212;
  --accent: #FFFFFF;
}

.spotify-tabs {
  margin: 20px 0;
}
